

.setting{
  display: flex;
  gap: 33px;
  margin-top: 10px;
  margin: 0;
  padding-left: 80px;
}
.list-item{
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 12px;
  margin-top: 10px;
}
.setting1{
  display: flex;
  gap: 33px;
  margin: 0;
  padding-left: 60px;
}
.setting2{
  display: flex;
  gap: 33px;
  margin: 0;
  padding-left: 65px;
}
.blank-page{
  text-align: center;
  margin: 50px;
}
.not-found{
  display: flex;
  flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.chart-flex{
  display: inline-grid;
  align-items: center;
    justify-content: space-evenly;
    align-content: space-around;
    
}
.chart-pic{
  width: 600px;
  box-shadow: gray 5px 5px 5px 5px;
 margin: 10px;
}
.home{
  display: flex;
  flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.home-pic{
  margin-top: 60px;
  width: 900px;
  object-fit: cover;
}
.Dashboard{
  font-size: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}
.dash-chart{
  margin-top: 60px;
}
.color-name{
  margin-left: 10px;
}
.colour-div{
  display: flex;
  flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}
.color-button-div{
  margin: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.color-button{
  width: 50px;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  cursor: pointer;
  opacity: 0.8;
}
.color-button:hover{
  opacity: 1.1;
}
.color-button-twitter{

  width: 70px;
  height: 70px;
  object-fit: cover;
  display: flex;
  cursor: pointer;
  opacity: 0.8;
}
.but-hover:hover{
  opacity: 1.1;
}
.color-button-info{
  width: 60px;
  height: 60px;
  object-fit: cover;
  display: flex;
  cursor: pointer;
  opacity: 0.8;
}
.color-button-warn{
  width: 50px;
  height: 50px;
  object-fit: cover;
  display: flex;
  cursor: pointer;
  opacity: 0.8;
}
.color-button-delete{
  width: 50px;
  height: 50px;
  object-fit: cover;
  display: flex;
  cursor: pointer;
  opacity: 0.8;
}