

.setting{
  display: flex;
  gap: 33px;
  margin-top: 10px;
  margin: 0;
  padding-left: 80px;
}
.list-item{
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 12px;
  margin-top: 10px;
}
.setting1{
  display: flex;
  gap: 33px;
  margin: 0;
  padding-left: 60px;
}
.setting2{
  display: flex;
  gap: 33px;
  margin: 0;
  padding-left: 65px;
}
.color-button{
  height: 100px;
  width : 200px;
}
.blank-page{
  text-align: center;
}
.not-found{
  display: flex;
  flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}